# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment / Secrets
*.env
.env*
.env

# Notebooks / Demo Data
notebooks/.Trash*/
notebooks/data/
data/
backup/
demo/

!data/sample*

# Spark / Hadoop / Hive
spark/spark-events/
spark/spark-logs/
spark-warehouse/
metastore_db/
.derby/
.tmp/

# Docker Data Volumes
hive/postgresql/data/
metabase/postgresql/data/
clickhouse/*_data/
clickhouse/*-data/
minio/data/
postgres/data/
**/data/
**/logs/

# Do NOT ignore config folders
!hive/conf/
!metabase/conf/
!clickhouse/conf/
!minio/conf/

trino/data/
jars/

*.log
*.tmp
dist/
.dist/
Trash*/
~$*
*.swp

demo